.right-nav {
  position: absolute;
  right: 0;
  border-left: 1px solid black;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0px);
  transition: transform 150ms ease-in-out;
  z-index: 5;
  background-color: lightgray;
}

.hidden {
  transform: translateX(300px);
  transition: transform 150ms ease-in-out;
}

.showtab {
  position: absolute;
  top: 0;
  right: -20px;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
}

.showtab h2 {
  margin-right: 1rem;
  color: white;
  font-size: 30pt;
  font-weight: 400;
  transform: translateY(-4px);
}

.hidetab {
  margin-left: .5rem;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.hidetab h2 {
  color: lightgray;
  font-size: 30pt;
  font-weight: 400;
  transform: translateY(-4px);
}

.gigfeed {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff;
  background-color: lightgray;
}

.gigfeed-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(57, 57, 57);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
}

.gigfeed-header h3 {
  color: white;
  font-weight: 400;
}

.gigfeed-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
}
